.dwes {
    background-color: #DDFFD9 !important;
}

.dwec{
    background-color: #ECC8AE !important;
}
.diw{
    background-color: #D7907B !important;
}
.eie{
    background-color: #6C4B5E !important;
}
.ang{
    background-color: #B3679B !important;
}
.daw{
    background-color: #D5C67A !important;
}
.tut{
    background-color: #F1A208 !important;
}
body{
    font-weight: bold;
}
td:hover, th:hover{
    scale: 1.5;
    transition: 0.2s;

}
body{
    padding: 50px 300px;
}